
/* Contact Form */


/*
 background: linear-gradient(to right, #003554 0%, #0582ca 100%);

*/
:root {
  --specialText:  -webkit-linear-gradient(187deg, rgba(253,197,128,1) 0%, rgba(253,197,128,1) 53%, rgba(255,149,135,1) 100%);
  --specialTextBtn: rgba(253,197,128,1);
  --specialTextHover : #e9a84d;
 
}

  
  
  button,
  input {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  textarea{
    resize: vertical;
    max-height: 200px;
    min-height: 40px;
  }

  textarea::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgb(133, 133, 133)
}

textarea::-webkit-scrollbar
{
	width: 6px;
	background-color: rgb(133, 133, 133)
}

textarea::-webkit-scrollbar-thumb
{
	background-color: rgb(211, 211, 211)
}


  .credits {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 14px;
  }
  .contactFormContainerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .contactLeft {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 40px;
    background: transparent;
  }
  .contactRight {
    width: 70%;
    width: 100%;
    background: transparent;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
    background: transparent;
  }
  
  .containerContactForm {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    background: transparent;
  }
  
  .screen {
    position: relative;
    background: #424242;
    border-radius: 15px;

    width:100%;
    max-width: 620px;
    align-self: center;
  }
  
  .screen:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.541);
    z-index: -1;
    background: transparent;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
       
    background: #4d4d4f;
   
    backdrop-filter: blur(50px);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    content: "";
  }
  
  @supports (backdrop-filter: blur(10px)) {
    .screen  , .screen-header  {
      
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
    }
    .screen{
      background: #4242424b;
    }
    .screen-header{
      background: #4d4d4f15;
    }

}
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }

  #closeButton1{
    width: 8px;
    height: 8px;
    padding: 0px;
    margin:0px px 0px 0px;
  }

  .screen-header-button.close {
    background: #ed1c6f;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--specialText);
    background: var(--specialText);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
  }
  
  .app-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--specialText);
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 12px;
    color: #a8a8a8;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #7e7e7e;;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .app-form-control::placeholder {
    color: #a8a8a8;;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: var(--specialTextBtn);

    font-size: 14px;
    
    outline: none;
  }
  
  .app-form-button:hover {
    color: var(--specialTextHover);
  }



  @media screen and (max-width: 670px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .contactLeft {
      display: none;
    }
  }
