.card {
  overflow: hidden;
    
    height: 248px;

    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 24px 28px;
    will-change: transform, filter;
    backdrop-filter: blur(10px);
  }
  

  .glow {
    width: 350px;
    height: 350px;
  
    filter: blur(180px);
    border-radius: 300px;
    opacity: 0;
    transition: opacity 1.2s cubic-bezier(0.16, 1, 0.3, 1);
    mix-blend-mode: soft-light;
    will-change: transform;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(var(--y, 0) * 1px - 50px);
    left: calc(var(--x, 0) * 1px - 50px);
    z-index: -2;

    background: rgb(180, 94, 238);
  }
  
  


  .card:hover .glow {
    opacity: 0.6;
  }
  