.heading-wrap {
  opacity: 0;
}

/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  /* Custom */
  text-underline-position: under;
  text-decoration-thickness: from-font !important;
}



*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color:var(--black)
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: var(--black)
}

*::-webkit-scrollbar-thumb
{
	background-color: rgb(211, 211, 211)
}


a {
  text-decoration-thickness: from-font !important;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
  outline: 0.125rem solid #4d65ff;
  outline-offset: 0.125rem;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0 !important;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
  pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}



.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

#checkPricingButton {
  width: 70%;
}

/* Popup modals */
.popup-modal {
  display: none;
  position: fixed;
  z-index: 9999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  background-color: #003554;
  padding: 40px 20px 20px;
  width: 80%;
  max-width: 600px;
  position: relative;
  margin: auto;
  border-radius: 20px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 10px;
  font-size: 20px;
  cursor: pointer;
  border: red solid;
  border-top-right-radius: 13px;
  background-color: red;
}

.popup-modal img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#atWebifyTextContainer {
display: flex;
gap:150px;
margin-bottom: 50px;

}
#atWebifyTextContainerLeft{
width: 50%;

}
#atWebifyTextContainerRight{
  padding-top: 120px;
  width: 50%;

}
.webifyLogo{
  padding-top: 10px; 
  width: 100px;
}

#trustpilotImg{
  width: 100%;
  display:flex;
  justify-content: center;
  padding: 10px 20px;
 
}

.introScreen{
  position: fixed;
  z-index: 97;
  top:0px;
  right: 0px;
 height: 100vh;
 width: 100vw;

  
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;
}

#animatedLogo{
  width: 20%;
  z-index: 98;
}





#loadingSvg{
position: absolute;
height: 100vh;
width: 100vw;

z-index: 999;
object-fit: cover;
}

.transition{

z-index: 99;
}


.features-card{
  transform-style: preserve-3d;
  transform: translateZ(20px);
}

#animated-svg {
  transform: scale(1.2);  /* Zoom in more on smaller screens */
}

@media (max-width: 1024px) {
  #animated-svg {
    transform: scale(1.4);  /* Zoom in more on smaller screens */
}
#animatedLogo{
  width: 30%;

}
}

@media screen and (max-width: 991px) {
  .hide,
  .hide-tablet {
    display: none !important;
  }
  #atWebifyTextContainerLeft{
    width: 100%;
    
    }
    #atWebifyTextContainerRight{
      padding-top: 0;
      width: 100%;
    
    }
  #atWebifyTextContainer {
    margin-left: 0%;
    flex-direction: column;
    gap:0px;
    
  }
}
@media screen and (max-width: 800px) {
  .hide-mobile-landscape {
    display: none !important;
  }
  #animated-svg {
    transform: scale(2);  /* Zoom in more on smaller screens */
}
}
@media screen and (max-width: 479px) {
  .hide-mobile {
    display: none !important;
  }
}